{% extends 'base.html.twig' %}

{% block title %}Foo index{% endblock %}

{% block body %}
    <h1>Foo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for foo in foos %}
            <tr>
                <td>{{ foo.id }}</td>
                <td>{{ foo.name }}</td>
                <td>
                    <a href="{{ path('foo_show', {'id': foo.id}) }}">show</a>
                    <a href="{{ path('foo_edit', {'id': foo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('foo_new') }}">Create new</a>
{% endblock %}
